PORT = 
MONGO_URI = mongodb+srv://{user}:{password}/MarketAPI
FIREBASE_TYPE = service_account
FIREBASE_PROJECT = marketapi
FIREBASE_PRIVATEKEY_ID = 
FIREBASE_PRIVATE_KEY = -----BEGIN PRIVATE KEY-----{...}-----END PRIVATE KEY-----
FIREBASE_CL_EMAIL = 
FIREBASE_CL_ID = 
FIREBASE_AUTH_URI = 
FIREBASE_TOKEN_URI = 
FIREBASE_AUTH_PROVIDER = 
FIREBASE_CL_CERTURL = 